form
  width 100%

textarea
  width 100%
  max-width 100%
  border-color clr-black
  display block
  margin-bottom 1em
  padding 1em
  line-height 1.8
  outline none
  transition all 200ms
  border-radius 5px

  &:focus
    box-shadow 5px 5px 5px clr-light inset

.btn
    display inline-block
    color clr-black
    background clr-white
    padding .5em 2em
    border 1px solid clr-black
    border-radius 5px
    box-shadow 1px 1px 1px clr-gray
    cursor pointer
    transition all 200ms
    outline none
    margin-right .5em

    &:hover
        background clr-primary
        color clr-white
        border-color clr-primary
        box-shadow none