/**
@font-face 
    font-family alegreya
    font-weight normal
    src url("fonts/alegreya/Alegreya-Regular.otf") format("opentype");
@font-face 
    font-family alegreya
    font-weight bold
    src url("fonts/alegreya/Alegreya-Bold.otf") format("opentype");
@font-face 
    font-family alegreya
    font-style italic
    src url("fonts/alegreya/Alegreya-Italic.otf") format("opentype");

@font-face 
    font-family baskerville
    font-weight normal
    src url("fonts/libre-baskerville/LibreBaskerville-Regular.otf") format("opentype");
@font-face 
    font-family baskerville
    font-weight bold
    src url("fonts/libre-baskerville/LibreBaskerville-Bold.otf") format("opentype");
@font-face 
    font-family baskerville
    font-style italic
    src url("fonts/libre-baskerville/LibreBaskerville-Italic.otf") format("opentype");
*/

@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700|Source+Sans+Pro:400,600&display=swap');

body
    font-family 'Merriweather', serif
    line-height 1.8
    font-size 1em
    color clr-black

p
    hyphens auto
    text-align justify

b, strong
    font-weight 700

h1, h2, h3, h4, h5
    line-height 1.25

h2
    font-size 1.1rem

h3
    font-size: 1rem

.sans-serif
    font-family: 'Source Sans Pro', sans-serif

input, button
    font-family: 'Source Sans Pro', sans-serif
    font-weight: 600