@require 'variables'
@require 'font'
@require 'elements'
@require 'tooltip'

@require 'header'
@require 'hateform'
@require 'quiz'
@require 'social'


/**
* basic
*/

*
  box-sizing border-box

body
  background clr-white

.content
  max-width 90vw
  margin 0 auto

p
ul
.custom-block
    max-width 760px
    margin 0 auto 1em


.section-element
  max-width 760px
  margin 2em auto

.section-form
    position relative
    box-shadow 0px 0px 5px 0px hsl(0, 0%, 89%)
    padding 1.5em

    @media medium 
        padding 2em

    h2
        margin 0 auto 1em

.section-form__description
  font-size 0.9rem
  margin-top 1em

.section_element media
  max-width 100%

h2, h3
    max-width 760px
h2
    margin 1em auto .5em
h3 
    margin 1.5em auto .75em

a
  color clr-primary
  text-decoration underline dotted
  
  &:hover
    text-decoration none



.info-box
  padding 1em 2em 
  background clr-light

  p, a
    font-family: 'Source Sans Pro', sans-serif
    text-align: left
  

