@require 'variables'
@require 'font'
@require 'elements'

@require 'header'
@require 'hateform'


/**
* basic
*/

*
  box-sizing border-box

body
  background clr-white

.content
  max-width 90vw
  margin 0 auto

p
.section_element
    max-width 760px
    margin 0 auto 2em

.section_element media
  max-width 100%

h2, h3
    max-width 760px
h2
    margin 2em auto 1em
h3 
    margin 1.5em auto .75em

a
  color clr-primary
  text-decoration underline dotted
  
  &:hover
    text-decoration none