@require 'variables'
@require 'font'
@require 'elements'
@require 'tooltip'

@require 'header'
@require 'hateform'
@require 'quiz'
@require 'social'


/**
* basic
*/

*
  box-sizing border-box

body
  background clr-white

.content
  max-width 90vw
  margin 0 auto

.content.custom
  > p:first-child
    position relative  
    margin-bottom: 4em  
  
    &:after
      content ''
      border 1px solid clr-primary
      position absolute
      bottom -2em
      left 48%
      right 48%
    

p
ul
.custom-block
    max-width 760px
    margin 0 auto 1em




.section-element
  max-width 760px
  margin 2em auto

.section-form
    position relative
    box-shadow 0px 0px 5px 0px hsl(0, 0%, 89%)
    padding 1.5em

    @media medium 
        padding 2em

    h2
        margin 0 auto 1em

.section-form__description
  font-size 0.9rem
  margin-top 1em

.section_element media
  max-width 100%

h2, h3
    max-width 760px
h2
    margin 1em auto .5em
h3 
    margin 1.5em auto .75em

a
  color clr-primary
  text-decoration underline dotted

  svg 
    margin-left 1px
  
  &:hover
    text-decoration none

hr
    max-width 25px
    margin 4em auto
    border 1px solid clr-black
    background clr-black


div.fixed-nav
  position absolute
  top 0
  left 0
  padding-left 2vw
