clr-primary = #f41839
clr-black = #1f090c
clr-white = #fff//#fffafb
clr-light = #f7f5f5
clr-gray = hsl(0, 0%, 55%)

small = '(min-width 768px)'
medium = '(min-width: 1024px)'
large = '(min-width: 1366px)'